.container.margin-top50
  %h2.u-margin-bottom-md.text-center
    Join us

  .grid-layout.grid-layout3
  
    %a.tile-resource.grid-item{ href: "/compare/single-application-ci/" }
      .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
      .tile-info
        %h4.tile-title
          Mastering continuous software development webcast
        %p.tile-description
          Learn how GitLab’s built-in CI/CD feature will allow you to apply continuous software development without the burden of complicated integrations and plugin maintenance.
        %p.tile-link
          Watch now
          %i.fas.fa-arrow-right

      %a.tile-resource.grid-item{ href: "/compare/jenkins-alternative/" }
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            GitLab CI/CD advantages over Jenkins demo
          %p.tile-description
            See the advantages of GitLab built-in CI/CD over Jenkins CI plugin solution.
          %p.tile-link
            Watch now
            %i.fas.fa-arrow-right

      %a.tile-resource.grid-item{ href: "/webcast/portable-serverless/" }
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            Unleashing the power of portable Serverless webcast
          %p.tile-description
            Join us on November 19th at 8:30 am PT to see how GitLab optimized for Kubernetes and Knative can help you achieve operational efficiency gains from Serverless without the vendor lock-in.
          %p.tile-link
            Register now
            %i.fas.fa-arrow-right
